.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 20px;
    background-color: #ffffff;
    margin: 0 auto;
    &__link {
        position: absolute;
        color: #d58c51;
        top: 0;
        right: 0;
        margin: 10px 20px;
        text-decoration: underline;
    }
    &__title {
        margin-bottom: 36px;
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        text-transform: uppercase;
        color: #161516;
    }
    &__mail {
        height: 39px;
        width: 420px;
        border: 1px solid #d58c51;
        border-radius: 61px;
        padding: 10px 18px;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #161516;
    }
    &__password {
        height: 39px;
        width: 420px;
        border: 1px solid #d58c51;
        border-radius: 61px;
        padding: 10px 18px;
        margin-bottom: 17px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #161516;
    }
    &__checkbox {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 10px;
        margin-bottom: 30px;

        &_text {
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #301411;
        }
    }
    &__btn {
        padding: 13px 24px;
        background-color: #d58c51;
        max-width: 200px;
        width: 100%;
    }
    &__block {
        display: flex;

        position: relative;
    }
    &__error {
        position: absolute;
        display: none;
        bottom: 0;
    }
    &__active {
        position: absolute;
        color: red;
        display: block;
        bottom: 0;
    }
}
